<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>でぃすったー</title>
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/error.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container">
      <div class="title">
        <img alt="ぶえーぶえー" src="/img/warning-icon.png" />
        <h1>エラー出ちゃいました</h1>
      </div>
      <p class="error-message"><%= error_message %></p>
      <a class="link-button" href="<%= oauthUrl %>">認証やり直してみる</a>
    </section>
  </body>
</html>
