<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>でぃすったー</title>
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/linked.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container">
      <div class="link">
        <img
          class="profile-image"
          alt="discordのアイコン"
          src="https://cdn.discordapp.com/avatars/718705193373532160/88301341c52ec82217e61ea8e2628498.webp?size=512"
        />
        <div>
          <img
            class="link-icon"
            alt="なんかよくわかんない画像"
            src="/img/linked.png"
          />
        </div>
        <img
          class="profile-image"
          alt="Twitterのアイコン"
          src="https://pbs.twimg.com/profile_images/1566195746659274752/IqMoResG.png"
        />
      </div>
      <p>連携しました！</p>
    </section>
  </body>
</html>
