<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>でぃすったー</title>
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/linked.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <section class="container">
      <div class="link">
        <img
          class="profile-image"
          alt="discordのアイコン"
          src="<%= discord_avatar_url; %>"
        />
        <div>
          <img
            class="link-icon"
            alt="なんかよくわかんない画像"
            src="/img/linked.png"
          />
        </div>
        <img
          class="profile-image"
          alt="Twitterのアイコン"
          src="<%= twitter_avatar_url %> "
        />
      </div>
      <p>連携しました！</p>
    </section>
  </body>
</html>
